.nav{
  width: 100%;
  line-height: 0;
  background: $color-white;
  text-transform: uppercase;
  position: absolute;
  display: table;
  z-index: 1600;
}
.nav-fixed{
  position: absolute;
  @include fadeIn(
    $delay: .1s
  );
}
.nav-down{
  position: fixed;
  @include fadeInDown(
    $delay: .1s
  );
}
.nav-up{
  position: fixed;
  @include fadeOutUp(
    $delay: .1s
);
}
.nav-transparent{
  background: $color-transparent;
}
.nav-title a{
  float: left;
  font-family: $header-font-family;
  letter-spacing: .3em;
  padding: 2em 0;
  padding-left: 20px;
  text-decoration: none;
}
.nav-items{
  display: block;
  float: right;
  font-family: $alt-font-family;
  font-size: 75%;
  letter-spacing: .2em;
  padding: 3em 0;
  padding-right: 20px;
}
.nav-items ul{
  margin: 0;
  @media (max-width: $tablet) {
    display: none;
  }
}

.nav-items li{
  display: inline-block;
}
.nav-items a{
  padding: 2em 1em;
}
.nav-items a:hover{
  text-decoration: none;
}
.nav-button {
	display: none;
  position: absolute;
  margin-top: -2.6em;
  right: 20px;
  z-index: 1600;
  @media (max-width: $tablet) {
    display: inline-block;
  }
}
@import "../burger";
.burger-icon {
	@include burger(25px, 2px, 5px, $color-black);
}
.nav-button.is-active .burger-icon {
	@include burger-to-cross;
}

//Mobile Menu

.mobile-nav{
  width: 100%;
  height: 100%;
  z-index: 1500;
  text-transform: uppercase;
  text-align: center;
  display: none;
  background: $color-white;
  position: fixed;
}
.mobile-nav-items{
  width: 100vw;
  height: 100vh;
  display: table;
  font-family: $alt-font-family;
  letter-spacing: .2em;
}
.mobile-nav-items ul{
  margin: 0;
  width: 100vh;
  height: 100vh;
}
.mobile-nav-items a{
  display: block;
  padding: 1em 0;
  width: 100%;
  margin: 0 auto;
}
.mobile-nav-items a:hover{
  text-decoration: none;
}
