.nav{
  width: 100%;
  padding: 2em 0;
  line-height: .1;
  background: $color-white;
  text-transform: uppercase;
  border-bottom: solid 1px $color-grey-light;
  position: absolute;
  z-index: 1000;
}
.nav-title{
  float: left;
  font-family: $header-font-family;
  letter-spacing: .3em;
  padding-left: 20px;
}
.nav-items{
  display: block;
  float: right;
  font-family: $alt-font-family;
  font-size: 75%;
  letter-spacing: .2em;
  padding-right: 20px;
  @media (max-width: $tablet) {
    display: none;
  }
}
.nav-items ul,li{
  display: inline;
  margin-left: 2em;
}
.nav-items ul,li,a:hover{
  text-decoration: none;
}
.menu-button {
	display: none;
  position: absolute;
  margin-top: -.5em;
  right: 20px;
  @media (max-width: $tablet) {
    display: inline-block;
  }
}
@import "../burger";
.burger-icon {
	@include burger(25px, 2px, 5px, $color-black);
}
.menu-button.is-active .burger-icon {
	@include burger-to-cross;
}
